
.Navbar {
    background-color: #e63946;
    /* font-family: "Palatino", "URW Palladio L", serif; */
    color: #f1faee;
    text-align: center;
    padding: 1px;
    height: 100px;
    margin-bottom: 25px;
}

.Navbar h1 {
    margin-top: 0;
}

/* .Navbar button {
    background-color: #a8dadc;
    color: #f1faee;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.Navbar button:hover {
    background-color: #1d3557;
}

.Navbar button:active {
    background-color: #457b9d;
} */