.Navbar {
    background-color: #e63946;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar h1 {
    color: #fff;
    /* Set the text color to white */
}

.Navbar button {
    background-color: #1d3557;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Navbar button:hover {
    background-color: #f1faee;
}

.Navbar button:active {
    transform: scale(0.95);
    /* Apply a slight scale down effect on click */
}